.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 25%;
  min-width: 320px;
  padding: 15px;
}