.page-wrapper {
  height: 100%;
  display: flex;
  padding: 1%;
  background: var(--paper-white);
}

.accounts-wrapper {
  display: flex;
  gap: 5px;
  cursor: pointer;
  overflow-x: scroll;
}

.accounts-controls-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}