.page-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 1366px;
}

.controls-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 14px;
  height: 3rem;
}


