:root {
  --black: #000000;
  --green-gloss: #00915f;
  --steam-bath: #ccd2db;
  --light-grey: #fffbe4;
  --dark-blue: #354052;
  --ligt-green: #01c187;
  --beautiful-blue: #1e70bf;
  --paper-white: #eff0f2;
}