:root {
  --gray-300: #c9c9c9;
  --gray-400: #424242;
  --gray-600: #343434;
  --white: #fff;
  --red: #ff0000;
  --red-orange: #fe3b2c;
  --black: #000000;
  --green-gloss: #00915f;
  --steam-bath: #ccd2db;
  --light-grey: #fffbe4;
  --dark-blue: #354052;
  --gray-disable: #e7e5e5;
  --ligt-green: #01c187;
  --beautiful-blue: #1e70bf;
  --paper-white: #eff0f2;
  --dark-grayish-blue: #7f8fa4;
  --very-dark-desaturated-blue: #333366;
  --top-layer: 10;
  --second-layer: 15;
  --absolute-layer: 999;
}